<div class="container">

	<div class="row">
		<div class="col-md-3 calc-intro">

			<h2>Party Size?</h2>
			<div class="people-slider-number">
				<i class="far fa-user-circle people-icon"></i> 
				<div class="ui-slider-handle"></div>
			</div>

			<div class="cntr range-slider" id="range"></div>

		</div>
		<div class="col-md-3">

			<h3>Select your entrees:</h3>
			<div class="category">
			<% @foods.each do |food| %>
				<% if food.category.name == "Entree" %>
					<div class="food-item">
						<%= food.name %>
						$<span class="price"><%= food.price %></span>
						<input type="hidden" class="hidden">
					</div>
				<% end %>
			<% end %>
			</div>
		</div>
		<div class="col-md-3">

			<h3>Select your Sides:</h3>
			<% @foods.each do |food| %>
				<% if food.category.name == "Side" %>
					<div class="food-item">
						<%= food.name %>
						$<span class="price"><%= food.price %></span>
						<input type="hidden" class="hidden">
					</div>
				<% end %>
			<% end %>
		</div>

		<div class="col-md-3">

			<h3>Select your Dessert:</h3>
			<% @foods.each do |food| %>
				<% if food.category.name == "Dessert" %>
					<div class="food-item">
						<%= food.name %>
						$<span class="price"><%= food.price %></span>
						<input type="hidden" class="hidden">
					</div>
				<% end %>
			<% end %>
		</div>

		<button class="calculate">GET TOTAL</button>
			<input type="text" class="selected-total">

	</div>
</div>

<script>

jQuery('.food-item').on('click', function() {

		jQuery(this).toggleClass('food-item-active');
	var price = jQuery(this).find('span').html();
		if(jQuery(this).hasClass('food-item-active')) {
			jQuery(this).find('.hidden').val(price);
		}	else {
			jQuery(this).find('.hidden').val('');
		};

});

jQuery('.calculate').on('click', function() {
	var people = jQuery('.ui-slider-handle').html();
 	var sum = 0;

	jQuery('.hidden').each(function() {
		sum += +jQuery(this).val();
	});

	var totalDecimal = (sum).toFixed(2);

	jQuery(".selected-total").val(totalDecimal * people);

});
</script>
<script>
		(function() {
			  jQuery("#range").slider({
			    range: "min",
			    min: 2,
			    max: 50,
			    value: 12,
			    slide: function(e, ui) {
			      return jQuery(".ui-slider-handle").html(ui.value);
			    }
			  });

			  jQuery(".ui-slider-handle").html("12");

		}).call(this);
</script>