
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<h1>Foods</h1>

			<div class="row">
				<div class="col-md-4">
					<%= form_for @food do |f| %>
						
						<div class="form-group">
							<%= f.text_field :name, placeholder: 'Food Name', class: 'form-control' %>
							<br>
							<%= f.text_field :price, placeholder: 'Price', class: 'form-control' %>
							<br>
							<div class="form-group">
								<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %>
							</div>
							<%= f.submit "Add New", class: 'btn btn-primary' %>
							<%=link_to "Cancel", foods_path %>
						</div>


					<% end %>

				</div>
				<div class="col-md-8">
					<table class="table table-striped">
					<% @foods.each do |food| %>
					<tr>
						<td><%= food.name %></td>
						<td>$<%= food.price %></td>
						<td><%= link_to 'Edit', edit_food_path(food.id) %> | <%= link_to 'Delete', food_path(food), method: :delete, data: {confirm: 'Are you sure?'} %></td>
					</tr>
					<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>