<div class="food-list-hero">
	<h1>Food Options</h1>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="row">
				<div class="col-md-4">
					<h3 class="add-food-title"> Add New Food Item to List:</h3>
					<%= form_for @food do |f| %>
						
						<div class="form-group">
							<%= f.text_field :name, placeholder: 'Food Name', class: 'form-control' %>
							<br>
							<%= f.text_field :price, placeholder: 'Price', class: 'form-control' %>
							<br>
							<div class="form-group">
								<%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]}, {:include_blank => 'Select One'},class:'form-control' %>
							</div>
							<%= f.submit "Add New", class: 'btn btn-primary' %>
							<%=link_to "Cancel", foods_show_path %>
						</div>


					<% end %>

					<span><%= link_to "+ Add new category", categories_show_path %></span>

				</div>
				<div class="col-md-8">
					<table class="table table-striped food-options-table">
						<thead>
							<tr>
								<th>Food</th>
								<th>Price</th>
								<th>Category</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
					<% @foods.each do |food| %>
					<tr>
						<td><%= food.name %></td>
						<td><%= number_to_currency(food.price, :unit => "$") %></td>
						<td><%= food.category.name %></td>
						<td><%= link_to 'Edit', edit_food_path(food.id) %> | <%= link_to 'Delete', food_path(food), method: :delete, data: {confirm: 'Are you sure?'} %></td>
					</tr>
					<% end %>
				</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>