<div class="food-list-hero">
	<h1>Food Categories</h1>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="row">
				<div class="col-md-4">
					<h3 class="add-food-title"> Add New Category:</h3>
					<%= form_for @category do |cat| %>
						
						<div class="form-group">
							<%= cat.text_field :name, placeholder: 'Food Name', class: 'form-control' %>
							<br>
							<%= cat.submit "Add New", class: 'btn btn-primary' %>
							<%=link_to "Cancel", foods_show_path %>
						</div>


					<% end %>

				</div>
				<div class="col-md-8">
					<table class="table table-striped food-options-table">
						<thead>
							<tr>
								<th>Category Name</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
					<% @categories.each do |cat| %>
					<tr>
						<td><%= cat.name %></td>
						<td><%= link_to 'Edit', edit_category_path(cat.id) %> | <%= link_to 'Delete', category_path(cat), method: :delete, data: {confirm: 'Are you sure? All assocaited foods will be deleted.'} %></td>
					</tr>
					<% end %>
				</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>